<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template Email-HTML</title>
<body style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; font-family: Trebuchet MS, Arial, Verdana, sans-serif;">

<!-- Start Main Table -->
<table width="100%" height="100%" cellpadding="0" style="padding: 20px 0px 20px 0px" background="http://webdesignweb.fr/sources/email-html/img/img_home3.jpg" >
    <tr align="center">
        <td>


            <!-- Start Header -->
            <table style="width:580px; height:108px;" background="http://webdesignweb.fr/sources/email-html/img/haut.jpg" border="0">
                <tr>
                    <td valign="top" style="width:456px;">
                        <h1 style="font-size:22px; color:#22baba;margin-left:20px; margin-top:26px;">Russia 2018</h1>
                    </td>

                </tr>
            </table>
            <!-- fin header -->

            <!-- start image -->

            <!-- end image -->

            <!-- start texte -->
            <table cellpadding="0" cellspacing="0" width="580" background="http://webdesignweb.fr/sources/email-html/img/1px.png" style="padding:30px 0px 0px 0px;">
                <tr>
                    {% block text %}
                    {% endblock %}
                    <td>
                        <a href="http://www.webdesignweb.fr" target="_blank"><img src="http://webdesignweb.fr/sources/email-html/img/imac.jpg" width="230" height="162" style="border:none;margin-left:0px;" /></a>
                    </td>
                </tr>
            </table>
            <!-- end texte -->

            <!-- start texte -->

            <!-- end texte -->


            <!-- début footer -->
            <table style="width:580px; height:148px;" width="580" cellpadding="0" cellspacing="0" background="http://webdesignweb.fr/sources/email-html/img/bas.jpg" style="padding:0px 0px 0px 0px;">
                <tr>
                    <td>
                        <a href="http://www.webdesignweb.fr" target="_blank" style="margin-left: 107px;border:none;"><img src="http://webdesignweb.fr/sources/email-html/img/rond.jpg" style="border:none" width="132" height="131" /></a>
                    </td>
                    <td>
                        <a href="http://twitter.com/#!/stratweb" style="border:none" target="_blank"><img src="http://webdesignweb.fr/sources/email-html/img/twitter.jpg" width="52" height="41"  style="border:none" /></a>
                        <a href="https://www.facebook.com/pages/stratisbakascom/127543690653530?sk=wall" target="_blank" style="margin-left: 17px; border:none;"><img src="http://webdesignweb.fr/sources/email-html/img/fb.jpg" style="border:none" width="52" height="44" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- fin du footer -->

</body>
</html>

