{% extends "base.html.twig" %}

   {% block body %}
       <h1>Page d'accueil</h1>

       {% if is_granted('IS_AUTHENTIFICATED_FULLY') %}
       <p><a href="{{ path('fos_user_security_logout') }}">Se deconnter </a></p>
    {% else %}

           <p><a href="{{ path('fos_user_security_login') }}">Se Connecter </a></p>
        {% endif %}
   {% endblock %}