{% extends "base.html.twig" %}

   {% block body %}

       <h1> Vous vous êtes correctement authetifier </h1>
       <p><a href="{{ path('client_page') }}">accèdes au client  </a></p>
       <p><a href="{{ path('admin_page') }}">accèdes au client administaeur </a></p>

   {% endblock %}